/* General page background */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 10 15px;
  }
  
  /* Form container styling */
  .form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    backdrop-filter: blur(5px); /* Blur effect */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    font-weight: 600;
    color: #060606;
    margin-bottom: 1.5rem;
  }
  
  /* Form styling */
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    color: #374151;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;
    color: #1f2937;
    background: #f9f9f9;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #0c5312;
    outline: none;
    box-shadow: 0 0 0 2px rgba(20, 184, 166, 0.2);
  }
  
  /* Submit button styling */
  button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #0b6e21;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:disabled {
    background-color: #0c3c1f;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #083710;
  }
  
  /* Link styling */
  p {
    margin-top: 20px;
  }
  
  a {
    color: #3b82f6;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #2563eb;
  }
  
  /* Responsive styling */
  @media (max-width: 480px) {
    .forgot-password-container {
      padding: 0 10px;
    }
  
    .form-container {
      padding: 1.5rem;
    }
  
    .title {
      font-size: 1.5rem;
    }
  
    button {
      font-size: 0.875rem;
    }
  }
  